/* Global */

body, ul, li, header, nav, footer {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

a img {
  border: 0;
  vertical-align: middle;
}

ul li {
  list-style-type: none;
}


/* Header */

.container {
  width: 100%;
  height: 50px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.logo {
  background: url(../img/icon.png) no-repeat;
  margin-left: 30px;
  height: 54px;
  width: 110px;
  float: left;
  background-position: 0 0px;
}

.navbar {
  float: right;
  margin: 5px 20px 0 0
}

.navbar li {
  float: left;
  height: 42px;
  line-height: 42px;
  margin: 0 15px;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
  position: relative;
}

.navbar li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #fff;
  transition: 0.4s;
}

.navbar li a:hover::after {
  width: 100%;
}

.nav-fixed {
  position: fixed;
  padding: 5px 0;
  background: #fff;
}

.nav-fixed .logo {
  background-position: 0 -82px;
}

.nav-fixed li a {
  color: #000;
}

.nav-fixed li a::after {
  border-bottom: 2px solid #000;
}

.new {
  background: url(../img/icon.png) no-repeat;
  width: 30px;
  height: 22px;
  background-position: 0 -560px;
  display: inline-block;
  margin-left: 5px;
}

.orz {
  background: url(../img/orz.png) no-repeat;
  width: 30px;
  height: 22px;
  display: inline-block;
  margin-left: 5px;
}


/* Slideshow */

.slideShow {
  width: 100%;
  height: 520px;
}

.slideShow ul li {
  float: left;
  width: 100%;
  height: 520px;
}

.context {
  margin: 170px 300px 0 0;
  color: #fff;
  float: right;
  font-size: 30px;
  position: relative;
  z-index: 1;
  line-height: 20px;
  text-align: center;
}

.image2 .context {
  margin: 170px 200px 0 0;
}

.img-container {
  position: absolute;
  left: 2%;
  top: 0;
}

.img-container2 {
  position: absolute;
  right: 0;
  top: 0;
}

.context2 {
  margin: 170px 100px 0 300px;
  color: #fff;
  float: left;
  font-size: 30px;
  position: relative;
  z-index: 1;
  line-height: 20px;
  text-align: center;
}

.image4 .context {
  float: right;
  margin: 170px 100px 0 200px;
}

.button a {
  text-decoration: none;
  border: 2px solid #fff;
  color: #f2f2f2;
  padding: 10px 14px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 24px;
  position: relative;
  top: 5px;
}

.button a:hover {
  font-weight: bold;
  border: 3px dashed #fff;
  ;
  padding: 15px 19px;
}

.image1 {
  position: absolute;
  background: #7DB438;
}

.image2 {
  position: absolute;
  background: #69B7DD;
}

.image3 {
  position: absolute;
  background: #9B80CE;
}

.image4 {
  position: absolute;
  background: #F89291;
}

.current {
  z-index: 10;
}


/* Main Content */

.main {
  min-height: 1000px;
}

.main-nav {
  text-align: center;
  background: #fff;
}

.main-nav li {
  font-size: 15px;
  display: inline-block;
  line-height: 75px;
  margin: 0 40px;
  height: 75px;
}

.main-nav li a {
  color: #929292;
  text-decoration: none;
  font-weight: bold;
}

.main-nav li a:hover {
  color: #000;
  text-decoration: underline;
}

.mangas {
  width: 100%;
  overflow: hidden;
}

.button2 {
  width: 200px;
  margin: 15px auto 0;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
}

.button2 a {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 24px;
}

.button2:hover {
  font-weight: bold;
  border: 3px dashed #fff;
}

.manga-category {
  background: #293033;
  border-right: 1px solid #202628;
  float: left;
  color: #fff;
  width: 20%;
  height: 425px;
  box-sizing: border-box;
}

.manga-category h1 {
  text-align: center;
  margin: 130px auto 0;
  font-size: 30px;
  width: 200px;
}

.manga-content {
  width: auto;
  position: relative;
  overflow: hidden;
}

.list-wrap {
  background: #2D3538;
  float: left;
  height: 425px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.manga-list li {
  float: left;
  margin-left: 58px;
  width: 200px;
}

.manga-list li a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #000;
  text-align: center;
  background: #fff;
  line-height: 30px;
  width: 100%;
}

.manga-content ul {
  overflow: hidden;
  height: 340px;
  position: absolute;
  top: 35px;
}


/* Footer */

footer {
  height: 100px;
  padding: 40px 60px;
}

.contain {
  float: left;
  position: absolute;
  right: 30%;
}

.resources {
  overflow: hidden;
}

.resources li {
  float: left;
  border: 1px solid #25292f;
}

.resources li a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 15px;
}

.resources li a:hover {
  color: #fff;
  background: #929292;
  font-weight: bold;
}

.moreInfo {
  margin: 20px 0 15px 125px;
  overflow: hidden;
}

.moreInfo li {
  float: left;
  margin-right: 20px;
}

.moreInfo li a:hover {
  color: #63B5FF;
}

.contain p {
  clear: both;
  line-height: 18px;
  color: #999;
  text-align: center;
}
